*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.65)), url(photo-1495954222046-2c427ecb546d.jpeg);
    background-size:100% 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;   
    color: #fff;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
.navbar a:first-child{
    transition: 1s ease-in-out;

}
.navbar a:first-child:hover{
    transform: scale(1.1);
}


.banner{
    width: 100vw;
    height: 100vh;
    
}
.navbar{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.M-text {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #cfbcdd;
  text-shadow: #220000;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 15px;
    
}

.navbar ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 1s ease-in-out;
}
.navbar ul li a:hover{
    font-size: 20px;
}
.navbar ul li a span{
    font-size: 22px;
    transition: 1s ease-in-out;
}
.navbar ul li a span:hover{
    font-size: 28px;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    justify-content: center;
    color: #fff;
    transform: translateY(-50);
}
.content h1{
    font-size: 70px;
    margin-top: 50px;
}
.content p{
    font-weight: 100;
    margin: 20px auto;
    line-height: 25px;

}
button{
    width: 200px;
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px #8066d59d solid;
    font-weight: bold;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 1s ease-in-out;
}
button:hover{
    font-size: 18px;
    font-weight: bold;
}


.Sign-in-section{
    position: relative;
    left:35%;
    margin-top: 32px;
} 
.input-page{
    color: #fff;
    font-weight: bold;
    width: 400px;
    height: 220px;
}

form{
    display: flex;
    flex-direction: column;
}
#name{
    padding: 2px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
#name:hover{
    border: 2px solid #cfbcdd;
    box-shadow: 0 0 10px rgba(207, 188, 221, 0.5);  
    background-color: #220000;
    color: #fff;
}
#email{
    padding: 2px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
#email:hover{
    border: 2px solid #cfbcdd;
    box-shadow: 0 0 10px rgba(207, 188, 221, 0.5);  
    background-color: #220000;
    color: #fff;
}
#password{
    padding: 2px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
#password:hover{
    border: 2px solid #cfbcdd;
    box-shadow: 0 0 10px rgba(207, 188, 221, 0.5);  
    background-color: #220000;
    color: #fff;
}
#Confirmpassword{
    padding: 2px; 
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
#Confirmpassword:hover{
    border: 2px solid #cfbcdd;
    box-shadow: 0 0 10px rgba(207, 188, 221, 0.5);  
    background-color: #220000;
    color: #fff;
}
.input-page a{
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}
.input-page a:hover{
    color: #c19fda;
    text-decoration: none;
    
}
label{
    display: inline;
}
.links{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.sign-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    margin-top: 250px;
     color: #fff;
    background-color: #000;
    padding: 20px 0px;
}
.footer h2{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 10px 0px;
}
.footer p{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.footer p a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.footer p a:hover{
    color: #c19fda;
    text-decoration: none;
}
